.App {
  text-align: center;
  margin-top: 40px;
}

canvas {
  margin-top: 40px;
}

.settings {
  display: flex;
  justify-content: space-between;
}

.inputBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: absolute;
  top: 0;
  padding: 10px;
  background-color: #fff;
  box-shadow: 5px 15px 12px 11px #bebebe;
}
